!!! 5
html
  head
    link(href='/style.css', rel='stylesheet')
    script(src="/sayhello.js", type="application/javascript")
  body
    h1 Jade template!
    h1
      span.red S
      span.green t
      span.blue y
      span.red l
      span.green u
      span.blue s
